{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5">
            
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100" style="text-align: right;">
                    <h6 class="text-primary text-uppercase mb-2" style="margin-top:100px; font-weight: bold; font-size: 25px;">{{project.title}}</h6>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
                    {% if project.images %}
                    <img src="{{project.images.url}}" width=340px height=200px />
                   {% else %} 
                   <img src={% static 'img/download.png' %} width=340px height=200px />
                 {% endif %}
                    {% comment %} <img class="position-absolute top-0 start-0 bg-white pe-3 pb-3" src="{% static 'img/epoxi2.jpg' %}" alt="" style="width: 200px; height: 200px;"> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}